* {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* ✅ 폰트 불러오기 */

@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
}
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ✅ 폰트 클래스 */

.font-wanju {
  font-family: "TTWanjudaedunsancheB", "맑은고딕";
}
.font-ttt {
  font-family: "TTTtangsbudaejjigaeB", "Black Han Sans", "맑은고딕";
}

.font-score {
  font-family: "S-CoreDream-3Light", "맑은고딕", sans-serif;
}
.font-star {
  font-family: "Cafe24Shiningstar", "맑은고딕", sans-serif;
}

/* ✅ 작은 텍스트 */
.text-xxs {
  font-size: 10px;
}

/* ✅ 스크롤바 제거 */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

/* header */
@keyframes slideFadeDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 100vh;
    opacity: 1;
  }
}
@keyframes slideFadeUp {
  0% {
    max-height: 100vh;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.slide-fade-down {
  animation: slideFadeDown 0.4s ease-out forwards;
}
.slide-fade-up {
  animation: slideFadeUp 0.4s ease-in forwards;
}

#mobile-main-menu {
  position: fixed;
  top: 84px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 17, 28, 0.99);
  overflow-y: auto;
  z-index: 40;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba(13, 17, 28, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.header.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: rgba(47, 47, 58, 0.9);
  backdrop-filter: blur(6px);
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.auth-links a:not(:last-child):after {
  content: "|";
  color: #999;
  display: inline-block;
  margin-left: 0.6rem;
}
.search-input {
  background-color: #fff;
  color: #000;
}
.social-link {
  display: flex;
  gap: 1rem;
}
.social-link a img {
  width: 1.4rem;
  height: 1.4rem;
}
.animate-color-text {
  animation: color-text 2s infinite;
}
.animate-bg-text {
  animation: bg-text 2s infinite;
}
@keyframes color-text {
  0%,
  100% {
    color: #f4f4a7;
  }
  50% {
    color: #fbdbf3;
  }
}
@keyframes bg-text {
  0%,
  100% {
    background-color: #f4f4a7;
    color: #000;
  }
  50% {
    background-color: #fbdbf3;
  }
}

@media (max-width: 768px) {
  .mobile-search {
    display: block;
  }
  .bottom-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

/* 메인 */
main {
  /* background-color: #000000; */
  padding-top: 8%;
  position: relative;
}

.inner-container {
  max-width: 80rem;
  margin: 0 auto;
}
/* 전체 Section 스타일 */
.section {
  padding: 2rem 1rem;
  z-index: 1;
}

/* Section 제목 */
.section-title {
  font-size: 1.25rem; /* text-xl */
  font-weight: bold;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

.hero-section {
  width: 100%;
  height: 420px;
  overflow: hidden;
}
.light-ver .hero-section {
  background: url("/assets/imgs/hero-blue.jpg") no-repeat center center / cover;
}

.hero-section .inner {
  max-width: 571px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@keyframes brushGlow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.brush-bg {
  position: absolute;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 105, 135, 0.5) 0%,
    rgba(255, 150, 100, 0.25) 60%,
    rgba(255, 200, 150, 0.1) 90%,
    rgba(255, 255, 255, 0) 90%
  );
  pointer-events: none;
  z-index: 0;
  filter: blur(20px);
  animation: brushGlow 2.5s ease-in-out forwards;
}

.hero-section .inner-top {
  width: 100%;
  background-color: #ff9800;
  color: #590e34;
  padding: 4px;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 5rem;
  z-index: 2;
}

.inner-con {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.hero-section .tv {
  width: 240px;
  margin-bottom: 24px;
  z-index: 1;
}
@keyframes heroTextAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* 깜빡이는 효과 */
@keyframes flicker {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

/* 반짝이 등장 애니메이션 */
@keyframes sparkleAppear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes sparkleTwinkle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  80% {
    transform: scale(1);
    opacity: 0.9;
  }
}
.hero-title-wrap {
  position: relative;
  width: 100%;
  padding: 3rem 0;
}

.hero-title {
  font-size: clamp(2rem, 6vw, 3.3rem);
  line-height: 1;
  font-weight: 900;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  animation-delay: 0.2s;
}

.hero-title.stroke {
  color: white;
  -webkit-text-stroke: 10px white;
  text-shadow: 12px 10px 2px rgb(0 0 0 / 30%);
  animation: heroTextAppear 1s ease-out forwards, flicker 1.5s forwards 1.2s;
  z-index: 1;
}

.hero-title.fill {
  color: #590e34;
  z-index: 2;
  animation: heroTextAppear 1s ease-out forwards, flicker 1.5s forwards 1.2s;
}

/* ✨ 반짝이 이미지 추가 */
.sparkle {
  position: absolute;
  top: -28px;
  right: 4px;
  width: 72px;
  z-index: 3;
  opacity: 0;
  animation: sparkleAppear 1s ease-out forwards, flicker 1.5s forwards 1.2s,
    sparkleTwinkle 1.2s ease-in-out 1.2s infinite;
}

.hero-section .btn {
  background-color: #590e34;
  padding: 0.5rem 4rem;
  border: 2px solid #fff;
  width: 100%;
  margin: 2rem 0;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background 0.3s;
  box-shadow: 8px 8px 2px rgb(0 0 0 / 30%);
  z-index: 5;
}

.hero-section .btn:hover {
  background-color: #7b184b;
}

#theme h3 {
  color: #0c0e1a;
}
#theme p {
  color: #272c4d;
}

/* 슬라이드 공통 카드 */
.swiper-wrapper {
  padding: 1rem 0;
}
.sd {
  border-radius: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
  position: relative;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  font-weight: 600;
  gap: 0.3rem;
}
.card-icon {
  font-size: 1.6rem;
  font-weight: 100;
}
.card-title {
  font-family: "Cafe24Shiningstar", "맑은고딕", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0 1rem;
}

/* Swiper 버튼 */
.swiper {
  position: relative;
  z-index: 1;
}
.custom-prev {
  left: 0 !important;
  z-index: 50;
  /* border-radius: 25px 0 0 25px; */
}
.custom-next {
  right: 0 !important;
  z-index: 50;
  /* border-radius: 0 25px 25px 0; */
}
.custom-prev,
.custom-next {
  top: 19% !important;
  bottom: 0 !important;
  height: 100% !important;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  pointer-events: auto;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  color: white;
}
.swiper-slide a {
  pointer-events: auto;
}

.swiper-button-hidden {
  display: none !important;
}
/* 추천강의 */
.gradient-border {
  background: #fff;
  padding: 2px;
  border-radius: 12px;
  transition: background 0.5s;
  overflow: hidden;
}

.gradient-border > div {
  background-color: #070a16;
  border-radius: 10px;
  transition: background-color 0.5s, backdrop-filter 0.5s, opacity 0.5s;
  backdrop-filter: none;
  opacity: 1;
}

/* 호버 시 */
.gradient-border:hover {
  background: linear-gradient(90deg, #bef9ff, #fff, #c3c7ff);
}

.gradient-border:hover > div {
  backdrop-filter: blur(6px);
  opacity: 0.8;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1235px) {
  .flex.items-center.gap-4.text-sm {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .inner-con {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
  }

  .hero-section .tv {
    width: 180px;
    margin-bottom: 0.5rem;
  }

  .hero-title {
    font-size: 2.3rem;
    text-align: center;
  }

  .hero-title-wrap {
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 206px;
    margin-bottom: 1.5rem;
  }

  .sparkle {
    display: none;
  }

  .hero-section .btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  .hero-section .inner-top {
    font-size: 1rem;
    top: 3.4rem;
  }

  .hero-section {
    height: auto;
  }
}

/* 작은 화면 카드 높이 자동 */
@media (max-width: 640px) {
  /* #theme .grid > a > div, */
  #featured .grid > a > div {
    height: auto;
  }

  .section-title {
    font-size: 1.1rem;
  }

  .card-link {
    font-size: 0.8rem;
  }
}

/* 모바일 swiper 카드 간격 */
@media (max-width: 640px) {
  .sd {
    height: auto;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
  }

  .card-icon {
    font-size: 1.5rem;
    width: auto;
  }
  .swiper-button-next.custom-next,
  .swiper-button-prev.custom-prev {
    display: none !important;
  }
}
