/* ✅ 라이트모드 */
.light-ver {
  background-color: #eef3f7;
  color: #111827;
  word-spacing: -1px;
}

.light-ver .hero-section {
  background: url("/assets/imgs/hero-blue.jpg") no-repeat center center / cover;
}

.light-ver .card-icon {
  font-size: 1.8rem;
  font-weight: 100;
  width: 40%;
  border-radius: 10px 0px 0px 10px;
}

.light-ver .card-title {
  font-size: 1rem;
  letter-spacing: 0.02em;
  width: 80%;
}
